<section id='games_index'>
    <%= link_to("Create new game", games_path(game: { name: 'test' }), method: :post) %></h1>
  <h1>Join a Game</h1>
  <ul>
    <% @games.available.each do |game| %>
      <li>
        <div class="game">
          <h1><%= game.name %>-
            <%= link_to("Join Game", "/join/#{game.id}", method: :put) %></h1>
        </div>
      </li>
    <% end %>
  </ul>
  <h1>All Games</h1>
  <ul>
    <% @games.each do |game| %>
      <li>
        <div class="game">
          <h1><%= game.name %>-
            <%= link_to("View Game", game) %></h1>
        </div>
      </li>
    <% end %>
  </ul>  
</section>

